{% extends "base.html" %}


<!DOCTYPE html>
<html lang="en">


{% block content %}
    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">Shopping Cart</h1>
                <p class="lead fw-normal text-white-50 mb-0">View Your Cart</p>
            </div>
        </div>
    </header>

    <br>
    <br>


    {% if products %}
        {% for p in products %}

            <br>
            <br>
            <br>
            <center>

                <div class="card mb-3" style="max-width: 900px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="{{ p.image.url }}" class="img-fluid rounded-start" alt="...">
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                {% if p.is_sale %}
                                    <h5 class="fw-bolder">{{ p.name }}</h5>
                                    <p class="card-text">{{ p.description }}</p>
                                    <!-- Product price-->
                                    <div class="star"></div>
                                    $<strike>{{ p.price }}</strike>    ${{ p.sale_price }}
                                {% else %}
                                    <h5 class="fw-bolder">{{ p.name }}</h5>
                                    <p class="card-text">{{ p.description }}</p>
                                    <!-- Product price-->
                                    ${{ p.price }}
                                    <br/>
                                    <br/>
                                {% endif %}
                                <br>
                                <div class="row justify-content-center">
                                    <div class="col-md-2">Quantity:</div>
                                    <div class="col-md-2">
                                        <select class="form-select form-select-sm" id="select{{ p.id }}">

                                            <option selected>

                                                {% for key,value in orders.items %}
                                                    {% if key == p.id|slugify %}
                                                        {{ value }}
                                                    {% endif %}
                                                {% endfor %}


                                            </option>


                                            </option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div>
                                <br/>
                                <button type="button" data-index="{{ p.id }}" class="btn btn-secondary update_btn">
                                    Update
                                </button>
                            <button type="button" data-index="{{ p.id }}" class="btn btn-danger delete_btn">
                                   Delete
                                </button>
                                <br/>
                            </div>
                        </div>
                    </div>

                </div>

            </center>




        {% endfor %}
          <div style = "margin-right : 320px"  align="right">
<h3>Total : ${{ total }}</h3>
   <a class = "btn btn-success" href = "{% url 'checkout' %}"> Checkout</a> 
    
        
        </div>
    {% else %}

        <center>
            <strong>There Is No Products </strong>
        </center>
    {% endif %}
  
    <script>
    {#update items#}
        $(document).on('click', '.update_btn', function (e) {
            e.preventDefault();
            var product_id = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "update_cart" %}',
                data: {
                    product_id: $(this).data('index'),
                    product_qty: $("#select" +  product_id  + " option:selected").text(),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {
                    console.log(json);
                    location.reload()
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg)

                }
            });
        });

{#delete items#}
        $(document).on('click', '.delete_btn', function (e) {
            e.preventDefault();
            var product_id = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "delete_cart" %}',
                data: {
                    product_id: $(this).data('index'),
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    action: 'post'
                },
                success: function (json) {

                    location.reload()
                },
                error: function (xhr, errmsg, err) {
                    console.log(errmsg)

                }
            });
        });
    </script>
    <br/>
    <br/>
    <br/>
    <br/>


{% endblock %}